.navBarPrincipal {
    background-color: rgb(173, 146, 162);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBarPrincipal a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.linksNavBarDiv a:hover {
    color: black;
    padding-bottom: 2px solid rgb(226, 202, 217);
}

.navBarPrincipal a.selected {
    background-color: rgb(180, 119, 157);
    color: white;
}

.navBarPrincipal a.selected:hover {
    color: black;
    padding-bottom: 2px solid rgb(226, 202, 217);
    ;
}

.logoDiv {
    display: flex
}

.navBarBrand {
    margin: 0;
}

.inicioNavBar {}

.linksNavBarDiv {}

.logInDiv {}

.logoNavBar {
    height: 50px;
    width: 50px;
}